<div class="addwrapper">
    <h1>Edit Order</h1>
    <div class="form-group">
      <label for="name">Item:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="item">
      <label for="grade">Amount:</label>
      <input type="text" class="form-control" id="grade" [(ngModel)]="amount">
      <label for="purity">Requestor:</label>
      <input type="text" class="form-control" id="purity" [(ngModel)]="requestor">
      <button class="btn btn-primary" (click)="close()">Close</button>
      <button *ngIf="!success" class="btn btn-primary" (click)="onEditReagant()">Edit</button>
      
      <span *ngIf="adding">
        <i class="fa fa-spinner fa-spin" ></i>
      </span>
      <span *ngIf="success">
        <i class="fa fa-check" style="color:green"></i>
      </span>
      <span *ngIf="error">
        <i class="fa fa-times" style="color:red"></i>
      </span>
      
    </div>
    </div>