<div class="viewwrapper">
  <div class="topbar">
    <div class="left">
        <h1>View Orders</h1>
    </div>
    <div class="center">
        <input type="text" style="width:300px" [(ngModel)]="searchString" (input)="onSearchChange($event)"placeholder="Filter by Name" class="form-control"/>
    </div>
    <div class="right">
      <span *ngIf="refreshing">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
        <span class="refreshbtn">
            <button type="button" class="btn btn-primary" (click)="refresh()">Refresh</button>
        </span>
        <span class="addbtn">
            <button type="button" class="btn btn-primary" (click)="add()">Add Order</button>
        </span>
    </div>
  </div>


<div *ngIf="!data">
  <br>
  <p>Loading Order Data...</p>
</div>
<div *ngIf="data">
  <table class='table table-striped'>
    <tr><th>Item</th><th>Requestor</th><th>Amount</th><th>Created</th><th style="width:159px">Actions</th></tr>
    <tr *ngFor="let order of data">
      <td>{{ order.item }}</td>
      <td>{{ order.requestor }}</td>
      <td>{{ order.amount }}</td>
      <td>{{ order.sys_created_on | date: 'mediumDate'}}</td>
      <td class="text-align:center">
        <span style="cursor:pointer" (click)="edit(order)"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="cursor:pointer" (click)="delete(order.sys_id)"><i class="fa fa-times" style="color:red"></i></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i *ngIf="deleting.has(order.sys_id)" class="fa fa-circle-notch fa-spin"></i>
      </td>
    </tr>
  </table>
</div>
</div>
