.viewwrapper{
    margin:15px;
}
.topbar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}
.topbar .left{
    grid-column: 1;
    grid-row:1;
    text-align: left;
}
.topbar .right{
    grid-column: 2;
    grid-row:1;
    text-align: right;
}