<ngb-tabset [destroyOnHide]="false">
  <ngb-tab title="Reagants">
    <ng-template ngbTabContent>
      <app-reagants></app-reagants>
    </ng-template>
  </ngb-tab>
  <!-- <ngb-tab title="Add">
    <ng-template ngbTabContent>
        <app-add></app-add>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Update">
      <ng-template ngbTabContent>
          <app-update></app-update>
      </ng-template>
    </ngb-tab>
  <ngb-tab title="Delete">
      <ng-template ngbTabContent>
          <app-delete></app-delete>
      </ng-template>
    </ngb-tab> -->
</ngb-tabset>
